version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: "daily"
  commit-message:
      prefix: "fix"
      include: "scope"
  reviewers:
    - "cujarrett"
- package-ecosystem: terraform
  directory: "/terraform"
  schedule:
    interval: weekly
