# dependencies
/node_modules

# build
/build

# testing
coverage
.nyc_output

# misc
.DS_Store

# local logs
npm-debug.log*

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Terraform
terraform.tfstate
terraform.tfstate.backup
lambda-function-payload.zip
